---
import { getCollection } from 'astro:content';
import Social from '../ui/Social.astro';

const [staticData] = await getCollection('staticData');

const {
  youtubeIconName,
  instagramIconName,
  youtube,
  instagram,
  profileName,
  alias,
} = staticData.data;
---

<footer
  class='h-40 w-full border border-x-0 border-b-0 border-slate-500/30 px-6 text-slate-950 md:h-20 dark:bg-slate-900 dark:text-slate-50'
>
  <nav
    class='mx-auto flex max-w-7xl flex-col items-center gap-2 px-3 py-4 align-middle md:flex-row md:justify-between'
    aria-label='Footer navigation'
  >
    <div
      class='hover:text-mint-500 relative h-6 w-fit cursor-pointer text-2xl font-bold transition-all [text-shadow:0_1px_2px_#000] before:absolute before:top-1/2 before:left-1/2 before:-z-1 before:h-full before:w-[40%] before:-translate-x-1/2 before:-translate-y-1/2 before:rounded-full before:bg-[#50fd8f25] before:opacity-80 before:blur-3xl'
    >
      <a href='/' aria-label='Return to homepage'>
        <!-- This icon represents the logo -->
        <!-- <Icon name="logo" aria-hidden="true" /> -->
        {profileName}
      </a>
    </div>

    <div class='text-start'>
      <a
        href={'github'}
        class='flex items-center justify-center gap-3 text-base font-normal italic max-sm:text-sm'
        aria-label='About the website development'
      >
        <!-- <Icon name="code" aria-hidden="true" /> Developed by <strong
          >{alias}</strong
        > -->
        Developed by <strong>{alias},</strong> with Astro
      </a>
    </div>

    <ul
      class='flex w-48 items-center justify-center gap-2 align-middle text-slate-950 md:justify-end dark:text-slate-50'
    >
      <li class='pt-2'>
        <Social iconName={instagramIconName} link={instagram} />
      </li>
      <li class='scale-110 pt-2'>
        <Social iconName={youtubeIconName} link={youtube} />
      </li>
    </ul>
  </nav>
</footer>
