---
import Navigation from './Navigation.astro';
import ThemeIcon from '../ui/ThemeIcon.astro';
import Social from '../ui/Social.astro';
import { Icon } from 'astro-icon/components';
import { getCollection } from 'astro:content';

const [staticData] = await getCollection('staticData');
const { instagram, instagramIconName, youtube, youtubeIconName } =
  staticData.data;

const currentPath = Astro.url.pathname;
const routes = ['/', '/planes', '/acerca-de-mi'];

// Check if the current route is in the list of routes
const isActiveRoute = routes.includes(currentPath);

const navItems = isActiveRoute
  ? ['home', 'plans', 'classes', 'about']
  : ['home', 'plans', 'about'];
---

<header
  role='banner'
  aria-label='Main navigation'
  class='text-blacktext dark:border-mint-600 border-mint-200 sticky top-0 z-50 w-full border-b bg-white/90 p-4 font-medium backdrop-blur-xs transition-all max-md:z-50 max-md:px-0 dark:border-b dark:bg-[#0E0E11]/50 dark:text-zinc-300 dark:backdrop-blur-xs'
>
  <div
    class='relative mx-auto flex max-w-7xl flex-row items-center justify-between max-xl:px-6'
  >
    <a href='/' aria-label='Go to home'>
      <Icon
        name='logonatacion'
        class='hover:text-mint-300 size-14 cursor-pointer transition-all'
        aria-hidden='true'
      />
    </a>

    <Navigation items={navItems} />

    <div class='flex items-center justify-between gap-5 text-xl'>
      <div
        class='flex items-center justify-center gap-5 max-md:hidden'
        role='group'
      >
        <Social link={instagram} iconName={instagramIconName} />
        <Social link={youtube} iconName={youtubeIconName} />
      </div>
    </div>
    <div class='flex items-center gap-5 text-xl md:pl-5'>
      <ThemeIcon />
      <button
        class='hamburger'
        aria-label='Open menu'
        aria-expanded='false'
        aria-controls='mobile-menu'
      >
        <Icon name='bars' class='hamburger-icon bars-icon' aria-hidden='true' />
        <Icon
          name='xmark'
          class='hamburger-icon xmark-icon'
          aria-hidden='true'
        />
      </button>
    </div>
  </div>
</header>
