---
import { getCollection } from "astro:content";
import Heading from "./Heading.astro";
import Button from "./Button.astro";

const [staticData] = await getCollection("staticData");

const { pricingButtonText } = staticData.data;

const { title, classesPrice, messageCta, incluye, recommended } = Astro.props;
---

<article
	class:list={[
		"relative group max-h-auto dark:text-white rounded-2xl p-[.2rem]",
		"bg-linear-to-r to-mint-50 dark:to-mint-200/5",
		"hover:to-mint-300/30 dark:hover:to-mint-600/30 ",
		{
			"to-mint-600 hover:to-mint-600 from-mint-600 dark:to-mint-50 dark:from-mint-50 ":
				recommended,
			"from-mint-300 dark:from-mint-600": !recommended,
		},
	]}
>
	{
		recommended && (
			<div class="absolute -top-4 left-1/2 -translate-x-1/2 z-20 text-mint-50 bg-mint-500 px-4 py-1 rounded-lg">
				Recomendado
			</div>
		)
	}
	<div
		class="group relative z-0 flex flex-col h-full items-start justify-start gap-4 overflow-hidden rounded-2xl bg-linear-to-tr from-riptide-100 to-white p-4 transition-all hover:shadow-[0_10px_50px_rgba(59,130,246,0.2)] dark:bg-linear-to-r dark:from-mint-950 dark:to-zinc-950 dark:overflow-hidden max-md:w-full max-md:gap-3 max-lg:gap-2 max-sm:flex-col dark:before:bg-[radial-gradient(circle,rgba(59,130,246)_0,rgba(23,37,84)_100%)] before:bg-[radial-gradient(circle,rgba(153,204,255)_0,rgba(189,222,255)_100%)] before:absolute before:left-65 before:top-10 before:h-[40%] before:aspect-square before:rounded-full before:blur-3xl before:opacity-80 before:-z-10 before:transition hover:before:animate-pulse"
	>
		<Heading text={title} level={3} />
		<span class="text-mint-950/80 dark:text-mint-200/80">{messageCta}</span>
		<p>
			<strong class="font-bold text-2xl md:text-3xl text-mint-600">{classesPrice}</strong> /mes
		</p>

		<Button link="#" text={pricingButtonText} />

		<ul class="list-disc px-4 text-start">
			{
				incluye.map((list: string) => {
					return <li>{list}</li>;
				})
			}
		</ul>
	</div>
</article>
