---
import { getCollection } from 'astro:content';
import Heading from './Heading.astro';
import Button from './Button.astro';

const [staticData] = await getCollection('staticData');

const { pricingButtonText } = staticData.data;

const { title, classesPrice, messageCta, incluye, recommended, pageURL } = Astro.props;
---

<article
  class:list={[
    'group max-h-auto relative rounded-2xl p-[.2rem] dark:text-white',
    'to-mint-50 dark:to-mint-200/5 bg-linear-to-r',
    'hover:to-mint-300/30 dark:hover:to-mint-600/30',
    {
      'to-mint-600 hover:to-mint-600 from-mint-600 dark:to-mint-50 dark:from-mint-50':
        recommended,
      'from-mint-300 dark:from-mint-600': !recommended,
    },
  ]}
>
  {
    recommended && (
      <div class='text-mint-50 bg-mint-500 absolute -top-4 left-1/2 z-20 -translate-x-1/2 rounded-lg px-4 py-1'>
        Recomendado
      </div>
    )
  }
  <div
    class='group from-riptide-100 dark:from-mint-950 relative z-0 flex h-full flex-col items-start justify-start gap-4 overflow-hidden rounded-2xl bg-linear-to-tr to-white p-4 transition-all before:absolute before:top-10 before:left-65 before:-z-10 before:aspect-square before:h-[40%] before:rounded-full before:bg-[radial-gradient(circle,rgba(153,204,255)_0,rgba(189,222,255)_100%)] before:opacity-80 before:blur-3xl before:transition hover:shadow-[0_10px_50px_rgba(59,130,246,0.2)] hover:before:animate-pulse max-lg:gap-2 max-md:w-full max-md:gap-3 max-sm:flex-col dark:overflow-hidden dark:bg-linear-to-r dark:to-zinc-950 dark:before:bg-[radial-gradient(circle,rgba(59,130,246)_0,rgba(23,37,84)_100%)]'
  >
    <Heading text={title} level={3} />
    <span class='text-mint-950/80 dark:text-mint-200/80'>{messageCta}</span>
    <p>
      <strong class='text-mint-600 text-2xl font-bold md:text-3xl'
        >{classesPrice}</strong
      > /mes
    </p>
    <Button link={`${pageURL}`} text={pricingButtonText} />

    <ul class='list-disc px-4 text-start'>
      {
        incluye.map((list: string) => {
          return <li>{list}</li>;
        })
      }
    </ul>
  </div>
</article>
